{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['isbn'] }}</span>
    <br />
    <br />

    <p><strong>Author(s):</strong> {{ post['authors'] }}</p>
    <p><strong>Publisher:</strong> {{ post['publisher'] }}</p>
    <p><strong>Number of Pages:</strong> {{ post['num_pages'] }}</p>
    <p><strong>Language:</strong> {{ post['language_code'] }}</p>
    <p><strong>Rating:</strong> {{ post['average_rating'] }} ({{ post['ratings_count'] }} ratings) </p>

    {% if get_email() %}
        <button>Rent this book</button>
    {% endif %}
{% endblock %}
