<!-- 
  This file builds the HTML that allows a user to search for books.
-->

{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Search {% endblock %}</h2>
    <form action="" method="post">
        <label for="title">Title:</label>
        <input type="search" name="title" id="title" />
        <input type="submit" value="Search" />
    </form>
    <br />

    <form action="" method="post">
        <label for="author">Author:</label>
        <input type="search" name="author" id="author" />
        <input type="submit" value="Search" />
    </form>
    <br />

    <form action="" method="post">
        <label for="language">Language:</label>
        <select name="language" id="language">
            <option value="">--Please choose an option--</option>
            <option value="eng">English</option>
            <option value="en-GB">English (United Kingdom)</option>
            <option value="en-US">English (United States)</option>
            <option value="spa">Spanish</option>
            <option value="fre">French</option>
        </select>
        <input type="submit" value="Search" />
    </form>
{% endblock %}